$main: #0053b3;
$sec: #929292;



#box {
  padding: 3rem;
  text-align: center;
  min-width: 500px;
  font-size: 3em;
  font-weight: bold;
  -webkit-backface-visibility: hidden; /* fixes flashing */
}


/* flashlight ------------------------------------------------------ */

#flashlight {
  color: hsla(0,0%,0%,0);
  perspective: 80px;
  outline: none;
}


/* flash ------------------------------------------------------ */

#flash {
  margin-right: 1rem;
  font-font: 'Montserrat';
  display: inline-block;
  color: #474646;
  text-shadow: #bfbfbf 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(110, 128, 144, 0.8) 0 30px 25px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}

#box:hover #flash {
  margin-left: 20px;
  transition: margin-left 1s cubic-bezier(0, 0.75, 0, 1);
}


/* light ------------------------------------------------------ */

#light {
  font-font: 'Montserrat';
  display: inline-block;
  text-shadow: #a7a7a7 0 0 1px, rgba(255,255,255,0.1) 0 1px 3px;
}

#box:hover #light {
  text-shadow: #eaeaea 0 0 4px, #2238ac 0 0 20px;
  transform: rotateY(-30deg);
  transition:         transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
}
